<h3>Create a new blogger here!</h3>

<%= form_for @blogger do |f| %>
  Name: <%= f.text_field :name %><br><br>
  Bio: <%= f.text_area :bio %><br><br>
  Age: <%= f.number_field :age %><br><br>
  <%= f.submit %>

<% end %>
