<%= form_for @post do |f| %>
<ul>
  <% if @post.errors.any? %>
    <% @post.erros.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  <% end %>
</ul>
<br>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.label :likes %>
  <%= f.number_field :likes %>
  <%= f.collection_select(:blogger_id, Blogger.all, :id, :name) %>
  <%= f.collection_select(:destination_id, Destination.all, :id, :name) %>
  <%= f.submit %>
  <% end %>
